body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  margin: 0.5rem;
  width: 45rem;
}

button {
  margin-bottom: 0.5rem;
  padding: 0.4rem 1rem;
  border: 0;
  color: white;
  background-color: black;
  cursor: pointer;
}

.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
